// .menu {
//     li {
//         a {
//             color: black;
//             &.active {
//                 color: green;
//                 border-bottom: 1px solid green;
//             }@extend .active;
//             color: red;
//             }
//         }
//     }
%section-base {
  padding: 30px 0;
  border: 1px solid red;
  color: aqua;
}
%reset-list {
  list-style: none;
}
.posts {
  background: green;
  @extend %section-base;
  @extend %reset-list;
  @extend %center;
}
.products {
  background: gray;
  @extend %section-base;
}
%center {
  margin: 0 auto;
  max-width: 1200px;
}
