.ul-cha {
    margin: 150px;
    border: 1px solid gray;
    display: flex;
    list-style: none;
    align-items: center;
}
.ul-cha li {
    padding: 12px 24px;
    border: 1px solid #ccc;
    width: fit-content;
}
.sub-menu {
    position: relative;
   background-color: aqua;
}
.sub-menu .ul-con{
    position: absolute;
    left: 0px;
    top: 100%;
    list-style-type: none;
    
}
.ul-con li{
    display: flex;
    width: 75px;
}
div {
    flex: 1;
    display: flex;
    justify-content: end;
}