body {
  color: green;
}
/* @media screen and (max-width: 1200px) {
  body {
    color: red;
  }
}
@media screen and (max-width: 992px) {
  body {
    color: blue;
  }
}
@media screen and (max-width: 576px) {
  body {
    color: black;
  }
} */
@media screen and (min-width: 768px) {
  body {
    color: yellow;
  }
  @media screen and (min-width: 992px) {
    body {
      color: blue;
    }
  }
}
@media screen and (min-width: 1200px) {
  body {
    color: red;
  }
}
