.form{
    width: 900px;
    height: 170px;
    background-color: gray;
    border-radius: 6px;
    padding: 8px;
    margin-left: 10px;
}
.title{
    margin-left: 25px;
}
span{
    color: yellow;
}
button{
    background-color: yellow;
    padding: 8px 12px;
    width: 170px;
    border-radius: 3px;
}
input{
    padding: 8px 12px;
    width: 200px;
    border-radius: 3px;
}