.products {
  width: 200px;
  border: 1px solid gray;
  margin: 30px auto;
  position: relative;
}

.products img {
  display: block;
  width: 100%;
  height: auto;
}
.products .products-info {
  padding: 15px;
}
.products .sale {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 0, 0, 0.573);
  color: antiquewhite;
  padding: 15px;
}

.products-image {
  /* padding: 15px; */
  position: relative;
  right: 0;
  bottom: 0;
}
