body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  width: 50px;
  height: 50px;
  position: relative;
}
.loading::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid;
  border-color: orange transparent orange orange;
  border-radius: 50%;

  animation: spinner 1s ease infinite;
}

.loading::after {
  content: "Loading...";
  position: absolute;
  bottom: -40px;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
