*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
hr{
    width: 50px;
    margin-left: 48%;
    height: 2px;
    border: 0;
    background-color: orange
}
h1{
    text-align: center;
}
ul {
    list-style-type: none;
}

img{
    width:80px;
    height:80px;
    border-radius: 50%;
}
.first{
    display: flex;
   margin: auto;
}
p{
    
    max-width: 350px;
}
.title{
    display: flex;
    flex-basis: 30%;
    padding: ;
}
.form-top{
    margin-top: 70px;
   
}
