.container-inner {
  width: 1200px;
  background-color: aquamarine;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar header header header header"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main";
  .sidebar {
    grid-area: sidebar;
  }

  .header {
    grid-area: header;
    display: flex;
    align-items: center;
  }
  .search-form {
    display: flex;
    align-items: center;
    column-gap: 18px;
    margin-right: auto;
    .search {
      background-color: #fff;

      &::placeholder {
        color: rgba($color: #000000, $alpha: 0.2);
      }
    }
  }
  .main {
    grid-area: main;
  }
}
